.map-object-field-default-widget {
  float: left;
  width: 50%;
}

.map-object-field-default-widget .map-preview {
  height: 400px;
  width: 100%;
}

.overlays-list {
  width: 71%;
}

.overlay-edit,
.overlay-remove {
  cursor: pointer;
}

.overlay-edit:hover,
.overlay-remove:hover {
  text-decoration: underline;
}

.overlay-params td {
  text-align: center;
}

.overlay-params .colorpicker-title {
  font-weight: bold;
}
.overlay-params .colorpicker {
  display: inline-block;
}
