{#
/**
* @file
* Default theme implementation for a view template to display a list of rows.
*
* Available variables:
* - attributes: HTML attributes for the container.
* - rows: A list of rows for this list.
*   - attributes: The row's HTML attributes.
*   - content: The row's contents.
* - title: The title of this group of rows. May be empty.
* - list: @todo.
*   - type: Starting tag will be either a ul or ol.
*   - attributes: HTML attributes for the list element.
*
* @see template_preprocess_views_view_list()
*
* @ingroup themeable
*/
#}
{% if overlays -%}
  <section class="map-object-field">
     <div class="map"
                    data-center-lat="0"
                    data-center-lng="0"
                    data-zoom="1"
                    data-map-type="terrain"
                    data-overlays="{{ overlays }}"
                    style="width:100%; height:500px;"
               >Map
       </div>
  </section>
{% endif %}

{% if attributes -%}
  <div{{ attributes }}>
{% endif %}

  <{{ list.type }}{{ list.attributes }}>

    {% for row in rows %}
     <li{{ row.attributes }}>
       {{- row.content -}}
     </li>
     {% endfor %}

  </{{ list.type }}>

{% if attributes -%}
  </div>
{% endif %}
